<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="menuResponsive" *ngIf="login.comprobar()==false; else noLogeadoSide">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <div class="barra"></div>
        <a mat-list-item [routerLink]="['log/login']">Iniciar Sesión</a>
        <div class="barra"></div>
        <a mat-list-item [routerLink]="['log/register']">Registrarse</a>
        <div class="barra"></div>
      </mat-nav-list>
    </div>

    <ng-template #noLogeadoSide>
      <div class="menuResponsive">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['juego']" *ngIf="login.getAdmin()=='1'">Añadir Juego</a>
          <div class="barra"></div>
          <a mat-list-item [routerLink]="['temas/tema/', login.getUsuario()]">Crear Tema</a>
          <div class="barra"></div>
          <a mat-list-item [routerLink]="['usuario']">Modificar Usuario</a>
          <div class="barra"></div>
          <a mat-list-item [routerLink]="['log/sesion']">Cerrar Sesión</a>
          <div class="barra"></div>
        </mat-nav-list>
        <div class="usuario mt-auto">
          <div class="dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{login.getName()}}
            </a>
            <ul class="dropdown-menu">
              <li><a mat-list-item class="dropdown-item" [routerLink]="['usuario']">Modificar Usuario</a></li>
              <li><a mat-list-item class="dropdown-item" [routerLink]="['log/sesion']">Cerrar Sesión</a></li>
            </ul>
          </div>
      </div>
      
        
      </div>
    </ng-template>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar style="background-color: #2f2e2e" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <a [routerLink]="['']"><img src="assets/logo/logo.png" /></a>
      </div>
      <div class="listToolbarNolog" *ngIf="login.comprobar()==false; else noLogeado">
        <mat-nav-list>
          <div class="opcion_menu">
            <a mat-list-item [routerLink]="['log/login']">Iniciar Sesión</a>
          </div>
          <div class="opcion_menu">
            <a mat-list-item [routerLink]="['log/register']">Registrarse</a>
          </div>
        </mat-nav-list>
      </div>
      <ng-template #noLogeado>
        <div class="listToolbar">
          <mat-nav-list>
            <div class="opcion_menu" *ngIf="login.getAdmin()=='1'">
              <a mat-list-item [routerLink]="['juego']">Añadir Juego</a>
            </div>
            <div class="opcion_menu">
              <a mat-list-item [routerLink]="['temas/tema/', login.getUsuario()]">Crear Tema</a>
            </div>
           
          </mat-nav-list>
        </div>
        <div class="usuario">
          <!-- {{login.getName()}} -->
          <div class="dropdown text-small">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{login.getName()}}
            </a>
            <ul class="dropdown-menu text-small">
              <li><a mat-list-item class="dropdown-item" [routerLink]="['usuario']">Modificar Usuario</a></li>
              <li><a mat-list-item class="dropdown-item" [routerLink]="['log/sesion']">Cerrar Sesión</a></li>
            </ul>
          </div>
          
        </div>
      </ng-template>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>