<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="menuResponsive" *ngIf="login.comprobar()==false; else noLogeadoSide">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <div class="barra"></div>
        <a mat-list-item [routerLink]="['log/login']">Iniciar Sesión</a>
        <div class="barra"></div>
        <a mat-list-item [routerLink]="['log/register']">Registrarse</a>
        <div class="barra"></div>
      </mat-nav-list>
    </div>

    <ng-template #noLogeadoSide>
      <div class="menuResponsive">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <div class="barra"></div>
          <a mat-list-item [routerLink]="['temas/tema/', login.getUsuario()]">Crear Tema</a>
          <div class="barra"></div>
          <a mat-list-item [routerLink]="['log/sesion']">Cerrar Sesión</a>
          <div class="barra"></div>
        </mat-nav-list>
      </div>
    </ng-template>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <a [routerLink]="['']"><img src="assets/logo/logo.png" /></a>
      </div>
      <div class="listToolbar" *ngIf="login.comprobar()==false; else noLogeado">
        <mat-nav-list>
          <div class="opcion_menu">
            <a mat-list-item [routerLink]="['log/login']">Iniciar Sesión</a>
          </div>
          <div class="opcion_menu">
            <a mat-list-item [routerLink]="['log/register']">Registrarse</a>
          </div>
        </mat-nav-list>
      </div>
      <ng-template #noLogeado>
        <div class="listToolbar">
          <mat-nav-list>
            <div class="opcion_menu">
              <a mat-list-item [routerLink]="['temas/tema/', login.getUsuario()]">Crear Tema</a>
            </div>
            <div class="opcion_menu">
              <a mat-list-item [routerLink]="['log/sesion']">Cerrar Sesión</a>
            </div>
          </mat-nav-list>
        </div>
      </ng-template>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>