<form [formGroup]="gameForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header class="centrado">
      <mat-card-title>Nuevo Juego</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Juego" formControlName="juego" required>
            <mat-error *ngIf="gameForm.controls['juego'].hasError('required')">
              Tienes que introducir un Juego
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="centrado">
      <button mat-raised-button color="primary" type="submit">Añadir</button>
      <button mat-raised-button color="basic" type="button" onclick="location.href='/'" style="margin-left: auto;">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>