<div class="grid-container">
  <h1 class="mat-h1">{{listaComents[0] ? listaComents[0].tema : null}}</h1>
  <mat-grid-list cols="1" rowHeight="215px">
    <mat-grid-tile *ngFor="let card of listaComents" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div class="row">
              <div class="col-9">
            <p>{{card.usuario}}</p>
          </div>
          <div class="col-1" *ngIf="login.getUsuario()==card.usuario || login.getAdmin()=='1'">
            <mat-icon style="cursor: pointer; color:red; float: right" (click)="eliminarComentario(card.idComent)">delete</mat-icon>
          </div>
          </div>
          </mat-card-title>
          <mat-card-subtitle> <!-- Otra forma de mostrarlo -->
            <a [routerLink]="['/comentario', card.idComent]">{{card.comentario}}</a>
                <!-- <mat-icon *ngIf="this.token != null;" style="cursor: pointer; float: right">edit</mat-icon> -->
            </mat-card-subtitle> 
            <br/>
        </mat-card-header>
        <!-- <mat-card-content>
           <div *ngFor="let items of listaItems">
          <p *ngFor="let item of items[card.idComent]">
                <p *ngFor="let res of item">
                  {{ item[res.id].respuesta }}
                </p>
                {{item}}
              </p>
              {{items}}
            </div>
            <div *ngIf="this.token != null;">
          <form [formGroup]="comentForm" novalidate>
            <div class="row">
              <div class="col-11">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Añade un comentario</mat-label>
              <textarea matInput rows="1" formControlName="respuesta"></textarea>
            </mat-form-field>
          </div>
          <div class="col-1">
            <mat-card-actions>
              <button mat-mini-fab color="primary" type="button" (click)="responderComentario(card.idComent, login.getUsuario())"><mat-icon>send</mat-icon></button>
            </mat-card-actions>
          </div>
        </div>
          </form> 
        </div>
        </mat-card-content> -->
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="this.token != null;">
  <form [formGroup]="temaForm" novalidate (ngSubmit)="onSubmit()" >
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Añade un comentario</mat-label>
      <textarea matInput rows="5" formControlName="comentario"></textarea>
    </mat-form-field>
    <mat-form-field class="invisible full-width" appearance="fill">
      <input matInput formControlName="usuario"/>
    </mat-form-field>
    <mat-card-actions class="centrado">
      <button mat-raised-button color="primary" type="submit">Añadir comentario</button>
    </mat-card-actions>
  </form>
</div>
</div>