<div class="grid-container">
  <h1 class="mat-h1">{{listaItems[0]? listaItems[0].tema : null}}</h1>
  <mat-grid-list cols="1" rowHeight="225px">
    <mat-grid-tile *ngFor="let card of listaItems" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>

            <p>{{card.usuario}}</p>

          </mat-card-title>
          <mat-card-subtitle > <!-- Otra forma de mostrarlo -->
            {{card.comentario}}
            </mat-card-subtitle> 
            <br/>
        </mat-card-header>
        <mat-card-content>
          <form action="">
            <div class="row">
              <div class="col-11">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Añade un comentario</mat-label>
              <textarea matInput rows="1"></textarea>
            </mat-form-field>
            <mat-form-field class="invisible full-width" appearance="fill">
              <input matInput />
            </mat-form-field>
          </div>
          <div class="col-1">
            <mat-card-actions>
              <button mat-mini-fab color="primary" type="submit"><mat-icon>send</mat-icon></button>
            </mat-card-actions>
          </div>
        </div>
          </form>          
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="this.token != null;">
  <form [formGroup]="temaForm" novalidate (ngSubmit)="onSubmit()" >
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Añade un comentario</mat-label>
      <textarea matInput rows="5" formControlName="comentario"></textarea>
    </mat-form-field>
    <mat-form-field class="invisible full-width" appearance="fill">
      <input matInput formControlName="usuario"/>
    </mat-form-field>
    <mat-card-actions class="centrado">
      <button mat-raised-button color="primary" type="submit">Añadir comentario</button>
    </mat-card-actions>
  </form>
</div>
</div>