.full-width-table {
  width: 100%;
}

.full-width{
  /* width: 20%; */
  margin: 1rem 1.5rem 0 1.5rem;
  /* background-color: #; */
}

form {
  /* background-color: #2f2e2e; */
}

.full-width-button{
  width: 5%;
  padding: 2em;
}
