<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" id="temas">
    <!-- Tema Column -->
    <ng-container matColumnDef="tema">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tema</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="['/tema', row.idTema]">{{row.tema}}</a></td>
    </ng-container>

    <!-- Name Column
    
     <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
      <td mat-cell *matCellDef="let row">{{row.comentario}}</td>
    </ng-container> -->

    <!-- Juego Column -->
    <ng-container matColumnDef="juego">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Juego</th>
      <td mat-cell *matCellDef="let row">{{row.juego}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>