<div class="container">

    <div>
        <h2>POLÍTICAS DE PRIVACIAD</h2>
    </div>
    <div>

        <div>

            <h3>Finalidades - ¿Con que finalidad se tratan sus datos?</h3>
            <ul>
                <li>Tramitar la reservación de los servicios que realice a través de la aplicación web.</li>
                <li>Cumplir a cabalidad con las obligaciones legalmente impuestas, de igual manera inspeccionar el
                    cumplimiento de las obligaciones contractuales incluyendo la prevención de fraude.</li>
                <li>Transferir los datos a organismos y autoridades, solo cuando estos sean solicitados de conformidad
                    con las disposiciones legales y reglamentarias.</li>
            </ul>

            <h3>Categorias de datos - ¿Qué datos son tratados?</h3>
            <p>Como resultado de los propósitos antes mencionados, en la aplicación
                web ForoGames se gestionan las categorías de datos como, metadatos de
                comunicaciones electrónicas, datos identificativos y de información comercial, en donde
                si usuario suministra datos de un tercero deberá contar con su consentimiento y tendrá
                que comunicarle el contenido de esta cláusula, eximiendo de esta manera a la aplicación
                web ForoGames de toda responsabilidad. De igual manera el club de
                pádel Los Leones realizará las verificaciones correspondientes conforme a la normativa
                de protección de datos.</p>

            <h3>Plazo de Conservación de los Datos - ¿Por cuánto
                tiempo se conservan los datos del usuario?</h3>
            <p>La aplicación web ForoGames mantendrá los datos
                personales de los usuarios únicamente por el tiempo necesario para llevar a cabo la
                realización de los propósitos por los cuales fueron recogidos, siempre y cuando el
                usuario no derogue los permisos otorgados. Adicionalmente, en caso de ser requerido,
                se mantendrá la información bloqueada durante los plazos legalmente establecidos.</p>

            <h3>Seguridad de la Información - ¿Qué medidas de
                seguridad son implantadas para cuidar sus datos?</h3>
            <p>Con el fin de evitar la pérdida, falsificación, manipulación,
                divulgación o adulteración de la información; se implementarán las siguientes medidas
                de seguridad técnicas con el fin de proteger los datos indicados en esta política de
                privacidad: </p>

            <ul>
                <li>Encriptación de los datos en los propios servidores de del Club De Pádel Los
                    Leones.</li>
                <li>Encriptación de la comunicación entre el dispositivo del usuario y los servidores
                    de ForoGames. </li>
                <li>Además, se implementarán otras medidas con el fin de que terceros no accedan a la
                    información del usuario. </li>
                <li>En caso de que la aplicación web ForoGames, requiera
                    mantenimiento de su plataforma por algún prestador ajeno a la Unión Europea, este
                    estará regularizado atendiendo el compromiso de ForoGames que se
                    fundamenta en la seguridad, integridad y protección de los datos personales de los
                    usuarios.</li>
            </ul>

            <h3>Derechos - ¿Cuáles son los derechos de los usuarios
                cuando facilitan sus datos y cómo pueden ejercerlos?</h3>
            <p>Inicialmente ForoGames, le da el derecho al usuario
                de estar informado sobre si sus datos están siendo tratados o no; de igual manera el
                usuario puede tener acceso a sus datos personales, solicitar su rectificación cuando
                estos sean inexactos y supresión cuando los datos ya no sean necesarios para los fines
                que fueron recopilados. Adicionalmente, el usuario podrá gestionar la limitación del
                tratamiento de sus datos en determinadas situaciones, de tal manera que estos se
                conservarán únicamente para el ejercicio de la defensa y/o reclamación. También, el
                usuario se podrá oponer al tratamiento de sus datos personales en situaciones concretas,
                de esta manera ForoGames dejará de tratarlos, salvo por los motivos
                anteriormente descritos o por el ejercicio de la defensa y reclamación.
                Igualmente, el usuario puede realizar portabilidad de sus datos, quitar los consentimientos
                facilitados en cualquier momento, sin que esto dificulte la legitimidad del tratamiento
                basado en el consentimiento previo a su retirada.
                El usuario que desee hacer uso de sus derechos puede dirigirse a:
                forogames@gmail.com
                Finalmente, los usuarios se pueden dirigir ante la agencia española de protección de
                datos y demás organismos públicos competentes, para cualquier reclamación que esté
                vinculada con el tratamiento de sus datos personales.
            </p>

            <h3>Modificación de la política de privacidad</h3>
            <p>ForoGames podrá cambiar la presenta política de
                privacidad en cualquier momento, en donde esta será publicada en las sucesivas versiones
                en el sitio web. Sin embargo, ForoGames informará a sus usuarios con
                previo aviso las modificaciones efectuadas con el fin de que estos puedan aceptar las mismas.

                La presente Política de Privacidad se encuentra actualizada a fecha 04/10/2021 del Club De
                Pádel Los Leones (España). Reservados todos los derechos.
            </p>
        </div>
    </div>
</div>