<div class="container">

    <div>

        <h2>AVISO LEGAL Y TÉRMINOS DE USO</h2>
        
    </div>
    <div>

        <div>
            <p>Este apartado ofrece información al usuario sobre los términos y las
                condiciones legales que definen las relaciones entre los clientes y los responsables
                de esta web. Es importante que el usuario conozca a detalle esta información antes de
                continuar la navegación. ForoGames, acepta toda responsabilidad sobre el procesamiento de la información
                de sus usuarios y clientes con plena garantía, cumpliendo a cabalidad con los requisitos nacionales y
                europeos, los cuales se encargan de regular la recopilación y el uso de los datos
                personales de los usuarios. Teniendo en cuenta lo anterior esta web, cumple estrictamente
                con el RGPD (REGLAMENTO (UE) 2016/679 de protección de datos) y la LSSI-CE la Ley 34/2002,
                de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico.</p>

            <h3>CONDICIONES GENERALES DE USO</h3>
            <p>Las condiciones generales expresadas en este apartado se encargan
                de reglamentar el uso de la aplicación web, en donde además se incluye el mero acceso,
                también abarca a los integrantes de la aplicación incluidos los contenidos y servicios
                que se encuentran disponibles para ellos. Por tal motivo, toda persona que acceda a la
                aplicación web, ForoGames como usuario acepta cumplir con todas las condiciones
                generales vigentes en todo momento. </p>

            <h3>DATOS PERSONALES QUE SE OBTIENEN Y DE QUE MANERA SE REALIZA</h3>
            <p>Leer Política de Privacidad</p>

            <h3>COMPROMISOS Y OBLIGACIONES DE LOS USUARIOS</h3>
            <p>El acceso a la aplicación web por parte del usuario, no supone de ninguna manera el
                inicio de una relación comercial, por tal razón el usuario queda informado y acepta. Con base en lo
                anterior, el usuario se compromete a dar uso a la aplicación web, sus contenidos y servicios sin
                infringir la legislación vigente, la buena fe y el orden público. Esta totalmente prohibido
                emplear la aplicación web con fines ilícitos, de cualquier modo; los cuales puedan
                afectar o dificultar la normal ejecución de la aplicación. De igual manera está
                prohibido realizar una distribución, reproducción o modificación total o parcial
                de los contenidos de la aplicación web, a menos que se cuente con la autorización
                legitima de sus titulares, así como también se restringe cualquier vulneración de
                los derechos del prestador o de los legítimos titulares y su utilización para fines
                comerciales.
                Además, el usuario al emplear la aplicación web ForoGames, se responsabiliza de
                no llevar a cabo ninguna conducta que pudiera ocasionar afectación en la imagen,
                los derechos y los intereses de la aplicación web, de terceros que también se
                pudiesen afectar o que perjudique el funcionamiento de la aplicación web.
                No obstante, el usuario es conocedor de que las medidas de seguridad de los sistemas
                informáticos en Internet no son totalmente fiables, de tal manera que la aplicación
                web ForoGames, no está en la competencia de asegurar la inexistencia absoluta de
                virus u otros elementos que puedan producir alteraciones en los sistemas informáticos
                (software y hardware) del usuario o también en sus documentos electrónicos y ficheros
                contenidos en los mismos.
            </p>
            <h3>MEDIDAS DE SEGURIDAD</h3>
            <p>Los datos que el usuario suministre a través de la aplicación web
                ForoGames, se pueden almacenar en bases de datos automatizadas o no, en donde su
                titularidad es completamente exclusiva de la aplicación mencionada anteriormente, por
                tal razón en esta recae toda la responsabilidad sobre las medidas de índole técnica,
                de seguridad y organizativa, la cual garantizará la integridad, calidad y la confidencialidad
                de la información contenida en las mismas con base en lo establecido en la normativa vigente
                de protección de datos. Finalmente, los datos trasmitidos entre el usuario y la aplicación
                web son cifrados gracias a protocolos https, lo que garantiza seguridad y confidencialidad
                a los datos de los usuarios.
            </p>
            <h3>RECLAMACIONES</h3>
            <p>Si es el caso, el usuario también podrá someter sus reclamaciones
                empleando la plataforma de resolución de litigios, la cual es facilitada por la Comisión
                Europea. http://ec.europa.eu/consumers/odr/
            </p>
            <h3>DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
            <p>Con base en lo establecido en los artículos 8 y 32.1, párrafo segundo,
                de la Ley de Propiedad Intelectual, está totalmente prohibida la reproducción, distribución y
                la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o
                parte de los contenidos de esta aplicación web, con fines comerciales, en cualquier soporte y
                por cualquier medio técnico, sin la debida autorización de la aplicación web ForoGames.
                Teniendo en cuenta lo anterior, el usuario se compromete a cumplir a cabalidad con los
                derechos de Propiedad Intelectual e Industrial, titularidad de la aplicación web mencionada.
                El usuario se percata y reconoce que la totalidad de la aplicación web como textos, fotografías,
                contenido, software, material audiovisual y gráficos están protegidos por derechos de autor,
                marcas y otros derechos legítimos, de acuerdo con los tratados internacionales, derechos de
                propiedad y leyes de España. Si un usuario o un tercero llega a considerar que en la aplicación
                web se ha introducido contenido que viola los derechos legítimos de propiedad intelectual,
                deberá informarlo al siguiente correo clubdepadellosleones@gmail.com señalando; los datos
                personales del interesado titular de los derechos presuntamente infringidos, en caso de ser
                un tercero indicar la representación con la actúa. Adicionalmente, deberá señalar los
                contenidos protegidos por la propiedad intelectual, su ubicación en la aplicación web,
                su acreditación y responsabilizarse de la veracidad de toda la información.
            </p>
            <h3>EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD.</h3>
            <p>El Prestador no ofrece ninguna garantía ni tampoco asume responsabilidad,
                por los daños y perjuicios de cualquier naturaleza que se puedan presentar por las siguientes
                causas:</p>
            <ul>
                <li>La presencia de programas maliciosos en los contenidos.</li>
                <li>Hacer un uso fraudulento, ilícito, negligente y/o contrato a este Aviso Legal.</li>
                <li>La falta de mantenimiento, disponibilidad y efectivo funcionamiento de la aplicación web.</li>
                <li>Hacer un uso ilegal o indebido de la aplicación web.</li>
                <li>La falta de calidad, utilidad, fiabilidad y disponibilidad de los servicios que son prestados
                    por terceros y que son puestos a disposición de los usuarios de esta aplicación web.</li>
            </ul>
            
            <h3>LEY APLICABLE Y JURISDICCIÓN</h3>
            <p>Las relaciones establecidas entre la aplicación web ForoGames con los
                usuarios de sus servicios telemáticos, se encuentran subordinadas por la legislación y jurisdicción
                española y sus tribunales.
            </p>
            <h3>CONTACTO</h3>
            <p>En caso de que cualquier usuario presente alguna inquietud con base en las
                condiciones legales o quiera realizar algún comentario sobre la aplicación web ForoGames por
                favor diríjase a clubdepadellosleones@gmail.com. El equipo de la aplicación web ForoGames te
                agradece por el tiempo dedicado en leer este Aviso Legal.
            </p>
        </div>
    </div>
</div>