<div class="container">

    <div class="col-12 text-center">
        <h1> POLÍTICAS DE COOKIES</h1>
        <h2>www.forogames.es</h2>
        <h2></h2>
    </div>
    <div class="row justify-content-center">

        <div class="col-12">
            <p class="text-justify">El ingreso de un visitante a la aplicación web
                puede implicar la utilización de cookies, las cuales se definen como
                pequeñas cantidades de información que se almacenan en el navegador
                que el usuario ha empleado, esto incluye todos los dispositivos que
                pueda utilizar para navegar. De esta manera el servidor que la
                implementó podrá recordar cierta información, con el fin de que
                posteriormente él mismo la pueda leer, facilitando de esta manera
                la navegación, haciéndola más amigable y sin afectar el dispositivo
                de navegación.
                La información tomada por las cookies, se da mediante procedimientos
                automáticos, en donde dicha información es relativa con base a las
                preferencias determinadas por el usuario, cuando este visite la
                aplicación web. Esto permite reconocerlo como usuario, ofrecerle
                una experiencia más personalizada y ayuda a identificar y resolver
                errores.
                Los datos que se toman a través de las cookies pueden incluir las
                páginas vistas, los sitios web que fueron vitados antes y después
                del mismo, el tiempo de permanencia en la aplicación web, así como
                también la fecha y hora de visita. Es importante precisar que
                ninguna cookie permite que esta misma pueda contactarse con el
                número de teléfono del usuario o con cualquier otro medio de contacto
                personal. De igual manera ninguna cookie tiene autorización para
                extraer información del disco duro del usuario ni tampoco robar
                información personal. Dicha información personal del usuario solo
                hará parte de la cookie cuando este la dé personalmente al servidor.
                Las cookies que tienen como finalidad identificar a una persona
                se consideran datos personales, por tal motivo a este tipo de
                cookies se les aplicará la Política de Privacidad que fue descrita
                con anterioridad y adicionalmente requerirán el consentimiento del
                usuario para que puedan ser empleadas. Dicho consentimiento será
                comunicado basado en una elección autentica, ofrecido mediante una
                decisión afirmativa y positiva, antes del tratamiento inicial,
                removible y documentado.</p>

            <h3 class="font-weight-bold text-center">Cookies propias</h3>
            <p class="text-justify">La aplicación web ReservaPadel enviará cookies al
                dispositivo del usuario, las cuales serán gestionadas por esta web y
                tendrán como objetivo mejorar el funcionamiento del sitio, el contenido
                y la experiencia para el visitante. De esta manera estas cookies logran
                reconocer a un usuario como visitante frecuente de la aplicación web,
                lo que a su vez permite adaptar el contenido con base a sus preferencias.</p>

            <h3 class="font-weight-bold text-center">Cookies de terceros</h3>
            <p class="text-justify">Estas cookies son empleadas y gestionadas por
                entidades externas, las cuales suministran a la aplicación web
                del ForoGames, servicios solicitados por este mismo, con el fin de
                mejorar la aplicación web y la experiencia del usuario al navegar
                en este sitio. Estas cookies se emplean con el fin de obtener
                estadísticas de acceso y realizar un análisis a la información
                de la navegación.
                La información tomada se refiere al idioma, el número de páginas
                visitadas, el número usuarios
                que ingresan, su frecuencia, reincidencia, el tiempo que dura su
                visita, el lugar a la que la dirección IP desde el que accede el
                Usuario, el navegador y dispositivo empleado. Toda esta información
                se obtiene con el fin de mejorar la aplicación web logrando así
                identificar falencias y poderlas solventar para ofrecer un servicio
                de excelente calidad. La información es tomada de manera anónima
                para elaborar informes de tendencias sin identificar a ningún usuario.
                La(s) entidad(es) encargada(s) del suministro de cookies podrá(n) ceder
                esta información a terceros, siempre y cuando lo exija la ley o sea un
                tercero el que procese esta información para dichas entidades.</p>

            <h3 class="font-weight-bold text-center">Deshabilitar, rechazar y eliminar cookies</h3>
            <p class="text-justify">El usuario tiene la potestad de deshabilitar, rechazar
                y eliminar las cookies, ya sea de forma parcial o total, que se encuentren
                instaladas en su dispositivo por medio de la configuración de su navegador,
                por ejemplo (Chrome, Firefox, Safari, Explorer); se debe tener en cuenta que
                el proceso para deshabilitar, rechazar o eliminar las cookies varia de un
                navegador con respecto al otro. Al rechazar de forma parcial o total el uso
                de las cookies, el usuario podrá seguir usando la aplicación web; sin embargo,
                podrá tener limitado el uso de ciertas funcionalidades con las que cuenta el
                mismo.</p>
        </div>
    </div>
</div>